.wrapper{
  height: 100%;
}
.top-buffer {
  margin-top: 20px;
}
.btn-group-lg>.btn-custom{
  border-radius: 10px;
  margin-top: 10px;
  width: 80%;
  opacity: .8;
}


body {
    height: 100%;
    font-family: 'Arvo', serif;
    background-color: black;
    background: url('../background.jpeg');
    background-attachment: fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    overflow-x:hidden;
    color: white;
}

h1 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  padding-top: 20%;
}

button, .start {
  color: black;
}

.question {
  font-size: 18px;
}

a, .footer {
  color: white;
  font-size: 10px;
}
